<?xml version="1.0" encoding="UTF-8"?>
<suite name="Goya QA Full Test Suite">

    <test name="Goya Full Test Suite">

        <parameter name="browserName" value=""/>

        <classes>

            <class name="com.triveniit.goya.qa.testscripts.HomePageTestNG"/>
            <class name ="com.triveniit.goya.qa.testscripts.LoginTest"/>
            <class name="com.triveniit.goya.qa.testscripts.SmartOrderTest"/>
            <class name="com.triveniit.goya.qa.testscripts.CreateOrderTest"/>

        </classes>
    </test>
</suite>