<?xml version="1.0" encoding="UTF-8"?>
<suite name="My Test Suite">

    <test name="Goya">

        <classes>

            <class name="com.triveniit.goya.qa.testscripts.HomePageTestNG"/>
            <class name="com.triveniit.goya.qa.testscripts.CreditAppTestNG"/>
        </classes>
    </test>
</suite>